 {% extends 'base.twig' %}
 
 {% block body %}
 <div class="container">
        <h3 class="mb-2">Добро пожаловать в мой блог!</h3>
        <div class="container-fluid row">            
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/blog-post-1" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>           
            
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/blog-post-2" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>        
           
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/blog-post-3" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>  
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> 
                <div class="card mr-2 p-1" style="width: 18rem;">
                    <img src="https://dummyimage.com/300x200/263ccc/fff.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>            
        </div>
    {% endblock %}